body
{
    background-color:black!important;
    color:silver!important;    
}

h2
{
    text-align: center;
}

img
{
    height:100px;
}

#conteneur
{
    margin-left:100px;
    margin-right:100px;
    padding-bottom : 200px;
}